@import '../abstract/variaveis';

#descricao {
    text-align: center;
    margin: 2rem auto;

    .mensagem {
        line-height: 1.5rem;

        h3 {
            font-size: $tamaho-do-texto / 1.2;
            margin-bottom: 1rem;
            font-weight: 300;
            color: $cor-primaria;
        }
        h4 {
            font-size: $tamaho-do-texto / 2.5;
            color: $cor-secundaria;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        p {
            margin-top: 1rem;
            font-size: $tamaho-do-texto / 3;
            font-weight: 300;
            color: $cor-primaria;

        }
    }
}